@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}
h1, h2, h3{
  font-family: "Anton", sans-serif;
  font-weight: 100;
  font-style:normal;
  font-size: auto;
}
p{
  font-family: 'Beba Neue', sans-serif;
  font-weight: 100;
  font-style:normal;
  font-size: auto;
}

.App {
  text-align: center;
}

.banner-inf{
  width: 50%;
  height: px;
  margin: 0 auto;
  padding: 0;
}
/* navbar */
.banner {
  background-color: black;
 color: white;
  padding: 5px;
  text-align: center;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.nlogo {
  width: 100px;
  height: auto;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
 
/* menu */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #282c34;
  margin: 10px;
}

/* Estilo base del menú */
.navbar {
  
  top: 0; 
  left: 0;
  width: 100%; 
  margin: 0 auto;
  background-color: black; 
  z-index: 1000; 
  padding: 20px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar a{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style:normal;
  font-size: auto;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.menu.open {
  display: flex;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.menu a:hover {
  text-decoration: underline;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; 
  }

  .menu {
    display:none; 
    flex-direction: column; 
    background-color: black;
    position: absolute;
    top: 60px; 
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .menu.open {
    display: flex; 
  }
  
  .menu li {
    margin: 10px 0;
  }

  .menu a {
    font-size: 1rem;
  }
  .menu-toggle {
    display: block;
  }
}


/*estilos carousel*/
.carousel {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
}


/* Portafolio */
.portafolio {
  padding: 40px 20px;
  background-color: black;
  text-align: center;
}

.portafolio h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f9f9f9;
}

.portafolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-items: center;
}

.portafolio-card {
  background-color: black;
  border: 1px none #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(201, 197, 197, 0.1);
  overflow: hidden;
  text-align: center;
  width: 100%; 
  max-width: 480px; 
}

.portafolio-image {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.portafolio-card h3 {
  font-size: 1rem; 
  margin: 10px 0;
  color: #f9f9f9;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .portafolio-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .portafolio-grid {
    grid-template-columns: 1fr;
  }
}


/* boton flotante */

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color:#2CBF36; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-float img {
  width: 40px; 
  height: 40px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* Estilos para el formulario de contacto */
.contacto {
  padding: 40px 20px;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contacto-banner {
  width: 100%;
  height: 330px; 
  background-image: url('./assets/banner_cont2.png'); 
  background-size:cover; 
  background-position: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  position: relative; 
}


.contacto-banner-text {
  position: relative;
  z-index: 2;
  color: #0ABF04;
  font-family: "Anton", sans-serif; 
}

.contacto-banner-text h1 {
  font-size: 3rem; 
  font-weight: bold;
  margin: 0;
}

.contacto-banner-text p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #ffffff;
}
.contacto-info {
  margin-top: 20px;
  margin: auto;
  font-size: 1.2rem;
  color: whitesmoke;
  padding: 20px;
  justify-content: center;
  justify-items: center;
}
.map-container {
  margin-top: 20px;
  border: 2px solid #0ABF04; 
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.contacto-container {
  max-width: 600px;
  margin: 0;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #034001;
}

.contacto-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: whitesmoke;
}

.contacto-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: whitesmoke;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  border: 1px solid #ddd;
  background-color: #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #0ABF04;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.contact-form button {
  padding: 15px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #0ABF04;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #089c03;
}

.statusform {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #0ABF04;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .contacto-container {
    flex-direction: column;
    padding: 15px;
  }

  .contacto-container h1 {
    font-size: 1.5rem;
  }

  .contact-form button {
    font-size: 0.9rem;
  }
}

/* Contenedor principal del componente */
.clientes {
  padding: 40px 20px;
  background-color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.clientes h2 {
  font-size: 2rem;
  color: whitesmoke;
  margin-bottom: 20px;
  font-weight: bold;
}
.clientes p{
  font-size: 1rem;
  color: whitesmoke;
  margin-bottom: 20px;
  font-weight: normal;
}

/* Estilo para las tarjetas de clientes */
.clientes-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clientes-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Imagen de los clientes */
.clientes-image {
  width: 150px;
  height: 0px;
  object-fit: contain;
  margin-bottom: 10px;
  align-self: center;
  justify-self: center;
  display: block; 
  margin: 0 auto; 
}

/* Nombre del cliente */
.clientes-card h3 {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

/* Ajustes para el carrusel */
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev,
.slick-next {
  z-index: 1;
  color: #333;
}

.slick-prev:hover,
.slick-next:hover {
  color: #0ABF04;
}

.slick-dots li button:before {
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #0ABF04;
}

/* Responsivo */
@media (max-width: 768px) {
  .clientes h2 {
    font-size: 1.5rem;
  }

  .clientes-card {
    padding: 8px;
  }

  .clientes-image {
    width: 80px;
    height: 80px;
  }

  .clientes-card h3 {
    font-size: 0.9rem;
  }
}


/* Banner de Nosotros */
.nosotros-banner {
  width: 100%;
  height: 300px;
  background-image: url('./assets/banner-nos.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nosotros-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.nosotros-banner-text {
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-align: center;
}

.nosotros-banner-text h1 {
  font-size: 5rem;
  font-weight: bold;
  font-style: normal;
}

/* Contenedor principal */
.nosotros-container {
  display: flex;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column
}

.nosotros-descripcion,
.nosotros-valores,
.nosotros-mision-vision {
  margin-bottom: 40px;
  padding: 15px;
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nosotros-descripcion div,
.nosotros-valores div,
.nosotros-mision-vision div {
  flex: 1;
}

.img-nosotros{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Nuevo contenedor para la imagen adicional */
.nosotros-imagen-extra {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nosotros-imagen-extra img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nosotros-descripcion h2,
.nosotros-valores h2,
.nosotros-mision-vision h2 {
  font-size: 2rem;
  color: whitesmoke;
  margin-bottom: 20px;
}

.nosotros-descripcion p,
.nosotros-valores ul,
.nosotros-mision-vision p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #4e4e4e;
  text-align: justify;
}

.nosotros-valores ul {
  list-style: circle;
  padding: 0;
}

.nosotros-valores li {
  margin-bottom: 10px;
}

.nosotros-valores li strong {
  color: #0ABF04;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .nosotros-descripcion,
  .nosotros-valores,
  .nosotros-mision-vision {
    flex-direction: column;
    align-items: center;
    text-align: center ;
  }

  .img-nosotros {
    max-width: 100%;
    margin-bottom: 20px; 
  }
  .nosotros-imagen-extra img {
    max-width: 90%;
    margin: 0 auto;
  }
  .nosotros-valores{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nosotros-valores div {
    margin-bottom: 20px; 
  }
}

.cotizacion-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cotizacion-title {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.cotizacion-subtitle {
  font-family: "Beba Neue", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.cotizacion-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #0abf04;
}

.cotizacion-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #0abf04;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cotizacion-button:hover {
  background-color: #088c03;
}

/* footer 2 sample */

.footers{
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  border-top: 1px solid #555;
  background-color: black;
  
}


.container-sfoooter{
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.wrapper-footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

}

.wrapper-footer .footer-widget{
  width: calc(20% - 30px);
  margin: 0 15px 50px;
  padding: 0 12px;
}

.wrapper-footer .footer-widget:nth-child(1){
  width: calc(40% - 50px);
  margin-right: 15px;
}

.wrapper-footer .footer-widget .logo-footers{
  width: 100px;
  margin-bottom:  30px;
  vertical-align: middle;
}

.wrapper-footer .footer-widget p{
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #ccc
}

.wrapper-footer .footer-widget .socials-footers{
 
  display: flex;
  align-items: center;
  justify-content: center;

}


.wrapper-footer .footer-widget .socials-footers li{
  list-style: none;
}


.wrapper-footer .footer-widget .socials-footers li a{
  width: 44px;
  height: 44px;
  margin-right: 10px;
  color: black;
  background-color: rgba(158, 253, 146, 0.904);
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.wrapper-footer .footer-widget .socials-footers li a:hover{
  background-color: #0ABF04;
}

.wrapper-footer .footer-widget  h6{
  color:#ccc;
  margin: 10px 0 35px;
  font-size: 20px;
  font-weight: 600;
}

.wrapper-footer .footer-widget .links-footers li{
  list-style: none;

}

.wrapper-footer .footer-widget .links-footers li a{
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 32px;
  transition: all 0.3 ease-out
}

.wrapper-footer .footer-widget .links-footers li a:hover{
color: #0abf04;

}

.copyright-warpper {
  padding: 20px 0;
  width: 100%;
  border-top: 1px solid #555;
}

.copyright-warpper p{
  color: #555;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.copyright-warpper p a{
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.copyright-warpper p a:hover{
  color:#0ABF04;

}


@media (max-width: 992px){
  .container-sfoooter{
    max-width: 960px;
  }

  .wrapper-footer .footer-widget,
  .wrapper-footer .footer-widget:nth-child(1){
    width: calc(50% - 30px);
  }
}


@media(max-width:768px){
  .container{
    max-width: 720px
  }

  .wrapper-footer .footer-widget,
  .wrapper-footer .footer-widget:nth-child(1){
    width:100%;
    margin: 0 10px 50px;
  }
}

/* portafolio / soluciones */

.wrapper-solucion{
  display:grid;
  grid-template-columns: 1fr 4fr;
  background-color: black;
}

aside{
  padding: 2rem;
  padding-right: 0;
  color:#ddd;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-aside{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.menu-aside li{
  list-style: none;
}

.boton-categoria{
  background-color: transparent;
  border: 0;
  color: #ccc;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 0.85rem;
}
.boton-categoria.active{
  background-color: #ddd;
  color: black;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.boton-categoria.active::before{
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: 0.25rem;
  box-shadow: 0 1rem 0 #ddd;

}

.boton-categoria.active::after{
  content: '';
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 0.25rem;
  box-shadow: 0 -1rem 0 #ddd;

}

.main-soluciones{
  background-color: #ddd;
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 2rem;
}

.titulo-soluciones{
  color:black;
  margin-bottom: 2rem;
}

.contenedor-soluciones{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto-imagen-soluciones{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.producto-detalles{
  background-color: black;
  color:#ccc;
  padding: .5rem;
  border-radius: 2rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.producto-titulo{
  font-size: 1rem;
}

/* confirmacion */ 
.confirmacion-container {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 1rem;
  margin: 2rem auto;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmacion-container h1 {
  color: #0abf04;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.confirmacion-container p {
  color: #333;
  font-size: 1.2rem;
}

/*  politicas de privacidad */


.container-privacy {
  margin: 20px auto;
  line-height: 1.6;
  padding:  2rem;
  max-width: 1200px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  
}

.container-privacy h1, h2, h3, h4 {
  color: #4e4e4e;
  margin-bottom: .5rem;
}
.container-privacy p{
  font-size: 14px;
  text-align: justify;
  color: #4e4e4e;
  margin-bottom: 1rem;
}



.container-privacy .li-privacy-in {
  color:#ccc;
  margin-bottom: 3rem;
  list-style: none;
  cursor: pointer; 
  transition: all 0.3s ease;
}
.container-privacy > li{
  list-style: none;
}

.container-privacy ul .li-privacy-in :hover {
  color: #0abf04; 
  transform: scale(1.025); 
  background-color: black;
  border-radius: 50% solid #0abf04;
}



